[submodule "packages/libdivecomputer_plugin/third_party/libdivecomputer"]
	path = packages/libdivecomputer_plugin/third_party/libdivecomputer
	url = https://github.com/urbamax/submersion-libdc.git
	branch = submersion-patches
